<launch>
    <param name="use_sim_time" value="true"/>
    <arg name="rgb_topic" default="/camera/rgb/image_raw"/>
    <arg name="depth_topic" default="/camera/depth/image_raw"/>
    <arg name="camera_info_topic" default="/camera/rgb/camera_info"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="/base_scan" to="base_scan"/>
    <remap from="rgb/image" to="$(arg rgb_topic)"/>
    <remap from="depth/image" to="$(arg depth_topic)"/>
    <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <param name="map_update_interval" value="0.000000000000000000005"/>
       <param name="maxUrange" value="20"/>
      <param name="sigma" value="0.5"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="1"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="0.001"/>
      <param name="angularUpdate" value="0.005"/>
      <param name="particles" value="3000"/>
      <param name="xmin" value="-50.0"/>
      <param name="ymin" value="-50.0"/>
      <param name="xmax" value="50.0"/>
      <param name="ymax" value="50.0"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
	 <param name="maxRange" value="50"/>
    </node>
</launch>
